body{
font:10pt, Verdana;
background:white;
}
form{
margin:1px;
}
textarea{
}
input[type="submit"]{
font-size:8pt;
}
h1{
margin:0 2px;
}
h2{
margin:40px 3px 20px 3px;
font-size:14pt;
}
#hangulime{
margin-top:10px;
width:400px;
height:150px;
font-size:12pt;
}

img{
border:0;
}
#version{
font:8pt, Verdana;
margin: 8px 0;
}
#credit{
font:7pt, Verdana;
margin-top:10px;
float:left;
width:200px;
}
#explanation{
width:200px;
font:7pt, Verdana;
margin-top:10px;
float:left;
}


#hangulIM_adsense,#hangulime_for_search{
width:270px;
}