body{
font:10pt, Verdana;
background:white;
}
form{
margin:1px;
}
form textarea{
border-style:solid;
border-width:1px;
border-color:#404040;
}
h1{
margin:0 2px;
}
h2{
margin:40px 3px 20px 3px;
font-size:14pt;
}
#hangulime{
margin-top:10px;
width:400px;
height:300px;
font-size:12pt;
}

img{
border:0;
}

.jsim_bufferbox{
background:#FFC;
color:#008;
border:solid 1px #333;
visibility:hidden;
position:absolute;
top:40px;
left:500px;
width:200px;
padding:3px;
}
.jsim_listbox{
background:#FFE;
list-style-type:none;
list-style-position:inside;
visibility:hidden;
border:solid 1px #333;
padding:0 3px 3px 3px;
margin:0;
position:absolute;
top:100px;
left:500px;
width:200px;
}
.jsim_listbox li{
padding:3px;
margin:3px 0 0 0;
border-style:solid;
border-color:#FFF;
border-width:1px;
}
.jsim_listbox li.selected{
border-color:#888;
background:#CCE;
color:#333;
}
.jsim_target_segment{
text-decoration:underline;
color:#FFF;
background:#008;
}