
.jsim_bufferbox{
background:#FFC;
color:#008;
border:solid 1px #333;
visibility:hidden;
position:absolute;
top:40px;
left:500px;
width:200px;
padding:3px;
}
.jsim_listbox{
background:#FFE;
list-style-type:none;
list-style-position:inside;
visibility:hidden;
border:solid 1px #333;
padding:0 3px 3px 3px;
margin:0;
position:absolute;
top:100px;
left:500px;
width:200px;
}
.jsim_listbox li{
padding:3px;
margin:3px 0 0 0;
border-style:solid;
border-color:#FFF;
border-width:1px;
}
.jsim_listbox_li_selected{
border-color:#888;
background:#CCE;
color:#333;
}
.jsim_target_segment{
text-decoration:underline;
color:#FFF;
background:#008;
}

